

.dash {
  display: grid;
  place-items: center;
  height: 0vh;
  background-color: #dadadd;
}
.dash__body {

  display: flex;
  background-color: #ededed;
  height: 55vh;
  width: 65vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
